/*
* Media Queries
* ========================================================================== */

@media screen and (min-width: $md-break-point) {
  body { font-size: 18px; }
  h1 { font-size: 2em; }
  h2 { font-size: 1.7em; }
  h3 { font-size: 1.4em; }
  h4 { font-size: 1.2em; }
  h5 { font-size: 1em; }
  h6 { font-size: .9em; }

  main { padding-top: 0; }

  .nav-main {
    text-align: center;
  }

  .blog-logo {
    width: auto;
  }

  .sidebar { display: block; }

  .alingleft, .alignright, .aligncenter {
    display: inline-block;
  }

  .alignleft {
    float: left;
    margin: .5em 1em .25em 0;
  }

  .alignright {
    float: right;
    margin: .5em 1em .25em 0;
  }

  .aligncenter { margin: 1em auto; }

  .elements-wrapper {
    flex-flow: row wrap;

    .element-container {
      width: 33%;
    }
  }

  .date { display: block;}

  .work {
    display: flex;
    flex-flow: row wrap;
    &-item {
      width: 50%;
      min-height: 300px;

      &:nth-child(odd) {
        border-right: 1px solid $border-light;
      }

      &:first-child { border-top-width: 0; }
      &:nth-child(2) { border-top-width: 0; }
    }

    &-item-small {
      width: 33%;
      min-height: 200px;
      border: 1px solid $border-light;
    }
  }

  .post-title {
    font-size: 2.4em;
  }
}



@media screen and (max-width: $break-point) {
  .nav-main a {
    font-size: 14px;
  }
}



@media screen and (min-width: $break-point) {
  table {
    display: table;
    min-width: 100%;
  }

  .main-header {
    position: static;
  }

  .nav-main {
    padding: 0;
  }

  .content-wrapper {
    max-width: $article-max-width;
    margin: 0 auto;
  }

  main {
    padding-top: 1em;
  }

  article {
    padding: 2em 0 3em;

    h2:first-of-type {
      margin-top: 0;
    }
  }

  .blog-footer {
    max-width: $article-max-width;
    margin: 4em auto 0;
  }

  .post-nav {
    display: flex;
  }
}
